*, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(145, 3, 3, 0.808);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header.main-header {
  height: 15vh;
  background-color: rgba(35, 36, 33, 0.753);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2em;
}

body header.main-header i {
  font-size: 4.5vw;
}

body .main-content {
  height: 50vh;
  background-color: rgba(30, 30, 31, 0.849);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-content .main-look-up {
  width: 100%;
  text-align: center;
}

body .main-content .main-look-up label span {
  color: whitesmoke;
}

body .main-content .main-look-up input#input-search {
  width: 60vw;
  height: 3em;
}

body .main-content .main-look-up button#btn-search {
  width: 20vw;
  height: 3em;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: white;
  font-weight: bold;
}

body .main-content .main-look-up button#btn-search i {
  font-size: 2vw;
}

body .main-content .main-look-up button#btn-search:hover {
  color: whitesmoke;
  -webkit-box-shadow: 0px -3em rgba(194, 27, 5, 0.89) inset, 0px 3em rgba(31, 32, 31, 0.89) inset;
          box-shadow: 0px -3em rgba(194, 27, 5, 0.89) inset, 0px 3em rgba(31, 32, 31, 0.89) inset;
  cursor: pointer;
}

body .main-content .main-cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  background-color: rgba(15, 15, 15, 0.904);
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .main-content .main-cards .card-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(40, 40, 41, 0.884);
  color: whitesmoke;
  border-radius: 0.3em;
  text-align: center;
}

body .main-content .main-cards .card-item .card-inf {
  color: #ebdddd;
  padding: 0.3em;
  padding-bottom: 1em;
}

body .main-content .main-cards .card-item .img-card {
  width: 80%;
  height: 80%;
}

body .main-content .main-cards .card-item-hide {
  display: none;
}

body .main-footer {
  height: 15%;
  background-color: rgba(23, 26, 25, 0.753);
}

@media screen and (max-width: 768px) {
  body header.main-header i {
    font-size: 4.5vh;
  }
  body .main-content .main-cards {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  body .main-content .main-look-up button#btn-search i {
    font-size: 2vh;
  }
}

@media screen and (max-width: 480px) {
  body .main-content .main-cards {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
  body .main-content .main-look-up input#input-search {
    width: 100vw;
  }
  body .main-content .main-look-up button#btn-search {
    width: 100vw;
  }
  body .main-content .main-look-up button#btn-search i {
    font-size: 2vh;
  }
}
/*# sourceMappingURL=styles.css.map */